.button {
    -fx-font-weight: bold;
    -fx-font: 18pt "System";
}
.list-cell {
  -fx-font: 16pt "System";
  -fx-background-insets: 0;
}

.date-picker {
  -fx-font: 16pt "System";
}

#voterAppLabel {
    -fx-font: 24pt "System";
    -fx-font-weight: bold;
}

#headerBanner {
    -fx-background-color: #5FA136;
}